src/pug/gracias.pug
- title_view = "Piensa en nivel Ucal"
- descripcion_view = ""
- keywords_view = ""
- author_view = ""
- title_logo = title_view

- link_activo = "Gracias"

include _config

- mnk_dir_view = "./"

+config
    +body(class="Mnk-thanks_page") 
        div(class="Mnk-box-table-768 -fixed-768 -middle-768 Mnk-height-full-768")
            div(class="Mnk-thanks_bg Mnk-width-380-768 Mnk-width-auto-992 Mnk-align-right-768") 
                div(class="Mnk-thanks_aside Mnk-inline-block-768 Mnk-align-center Mnk-align-left-768")
                    h1(class="Mnk-line-height-clear") demos el #[strong(class="Mnk-block") primer paso]
                    div(class="Mnk-margin-bottom-20")
                        a(class="Mnk-button -green Mnk-uppercase -none" href="tel:+516222222") Admisión: 622 2222 / Anexos: 5450, 5451
                    div
                        a(class="Mnk-button -green Mnk-uppercase -none" href="https://api.whatsapp.com/send?phone=51942632791") WhatsApp: 942 632 791
            div(class="Mnk-padding-40-20 Mnk-padding-30-768 Mnk-align-center")
                div(class="Mnk-inline-block Mnk-max-width-445")
                    h2 ¡Gracias!
                    p 
                        | Uno de nuestros asesores de carrera se pondrán en contacto contigo pronto.
                    p 
                        strong(class="Mnk-block Mnk-medium") ¡Que tengas un gran día!
                    a(class="Mnk-button Mnk-margin-top-30" href="./") Regresar

build/gracias.html
<!DOCTYPE html>
<html class="Mnk-html-full" lang="es-PE">
  <head>
    <title>Piensa en nivel Ucal</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Piensa en nivel Ucal">
    <meta name="description" content>
    <link rel="canonical" href="./">
    <style>
      @charset "UTF-8";a,body,div,h1,h2,html,p,strong{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}@media only screen and (min-width:1024px){html{display:table;width:100%;height:100%}}html.Mnk-html-full{display:table;width:100%;height:100%}html.Mnk-html-full body{display:table-cell;height:100%}@media only screen and (min-width:768px){html.Mnk-html-full body{vertical-align:middle}}body{color:#727272;font-family:Rubik,sans-serif;line-height:1.375;min-width:300px;position:relative;font-size:16px;font-size:1rem;margin:0;-webkit-text-size-adjust:100%;letter-spacing:0;background-color:#fff;padding:0 0 61px}@media only screen and (min-width:768px){body{padding-bottom:0}}@media only screen and (min-width:301px){body{overflow-x:hidden}}@media only screen and (min-width:1024px){body{display:table-cell;vertical-align:middle}}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}:focus{outline:0}a{color:#d5178b;text-decoration:none}p{margin:0 0 15px}strong{font-weight:700}.Mnk-inline-block{display:inline-block}.Mnk-block{display:block}.Mnk-button{font-weight:700;font-style:normal;font-size:12px;font-size:.75rem;font-family:Rubik,sans-serif;text-transform:uppercase;height:auto;margin:0;padding:15px 45px;text-align:center;width:auto;min-width:160px;border-radius:9999px;display:inline-block;vertical-align:top;color:#fff;background:#d5178b no-repeat 0 0;position:relative}@media only screen and (min-width:451px){.Mnk-button{font-size:14px;font-size:.875rem}}.Mnk-button.-green{color:#fff;background:#04b39d no-repeat 0 0;border:1px solid #04b39d}h1{margin-top:45px;margin-bottom:30px;font-size:22px;font-size:1.375rem}@media only screen and (min-width:451px){h1{margin-top:55px;margin-bottom:40px;font-size:32px;font-size:2rem}}@media only screen and (min-width:992px){h1{margin-top:65px;margin-bottom:45px;font-size:47px;font-size:2.9375rem}}h2{margin-top:30px;margin-bottom:20px;font-size:18px;font-size:1.125rem}@media only screen and (min-width:451px){h2{margin-top:45px;margin-bottom:30px;font-size:24px;font-size:1.5rem}}@media only screen and (min-width:992px){h2{margin-top:55px;margin-bottom:35px;font-size:35px;font-size:2.1875rem}}h1,h2{color:#727272;font-family:Rubik,sans-serif;font-weight:500;line-height:1.3;letter-spacing:-.02em}.Mnk-align-center{text-align:center}.Mnk-medium{font-weight:500}.Mnk-uppercase{text-transform:uppercase}.Mnk-uppercase.-none{text-transform:none}.Mnk-line-height-clear{line-height:1}.Mnk-padding-40-20{padding:40px 20px}.Mnk-margin-bottom-20{margin-bottom:20px}.Mnk-margin-top-30{margin-top:30px}.Mnk-max-width-445{max-width:445px}.Mnk-thanks_page{padding-bottom:0}.Mnk-thanks_page h2{margin-top:0}.Mnk-thanks_bg{background-image:url(../build/images/bg-gracias.jpg);background-position:50%;background-repeat:no-repeat;background-size:cover}.Mnk-thanks_aside{padding:25px 20px}@media only screen and (min-width:768px){.Mnk-thanks_aside{padding:0;-webkit-transform:translateX(30px);-ms-transform:translateX(30px);transform:translateX(30px)}}.Mnk-thanks_aside h1{font-weight:400;background-color:#fff;color:#000;display:inline-block;vertical-align:top;padding:15px 20px;margin-top:0}.Mnk-thanks_aside h1 strong{font-weight:500}.Mnk-thanks_aside .Mnk-button{padding:12px 25px 12px 15px;font-weight:500}.Mnk-thanks_aside .Mnk-button:before{content:"";background-image:url(../build/images/ico_tel.png);background-size:cover;display:inline-block;vertical-align:middle;width:25px;height:25px;margin-right:10px}@media only screen and (min-width:768px){.Mnk-width-380-768{width:380px}}@media only screen and (min-width:992px){.Mnk-width-auto-992{width:auto}}@media only screen and (min-width:768px){.Mnk-padding-30-768{padding:30px}}@media only screen and (min-width:768px){.Mnk-box-table-768{display:table;width:100%;height:1px}.Mnk-box-table-768>*{display:table-cell;vertical-align:top}}@media only screen and (min-width:768px){[class*=Mnk-box-table].-middle-768>*,[class^=Mnk-box-table].-middle-768>*{vertical-align:middle}}@media only screen and (min-width:768px){[class*=Mnk-box-table].-fixed-768,[class^=Mnk-box-table].-fixed-768{table-layout:fixed}}@media only screen and (min-width:768px){.Mnk-inline-block-768{display:inline-block}}@media only screen and (min-width:768px){.Mnk-height-full-768{height:100%}}@media only screen and (min-width:768px){.Mnk-align-left-768{text-align:left}}@media only screen and (min-width:768px){.Mnk-align-right-768{text-align:right}}
    </style>
    <link rel="preload" href="./plugin.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="./plugin.css"></noscript>
    <link rel="preload" href="./style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="./style.css"></noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"></noscript>
    <script>!function(n){"use strict";n.loadCSS||(n.loadCSS=function(){});var o=loadCSS.relpreload={};if(o.support=function(){var e;try{e=n.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),o.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.addEventListener?t.removeEventListener("load",a):t.attachEvent&&t.detachEvent("onload",a),t.setAttribute("onload",null),t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},o.poly=function(){if(!o.support())for(var t=n.document.getElementsByTagName("link"),e=0;e<t.length;e++){var a=t[e];"preload"!==a.rel||"style"!==a.getAttribute("as")||a.getAttribute("data-loadcss")||(a.setAttribute("data-loadcss",!0),o.bindMediaToggle(a))}},!o.support()){o.poly();var t=n.setInterval(o.poly,500);n.addEventListener?n.addEventListener("load",function(){o.poly(),n.clearInterval(t)}):n.attachEvent&&n.attachEvent("onload",function(){o.poly(),n.clearInterval(t)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:n.loadCSS=loadCSS}("undefined"!=typeof global?global:this);</script>
    <script>MNK_ADMIN_URL=""</script><!--[if IE 8]>
    <script src="./js/html5.js"></script><![endif]-->
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">
<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#e71f99">
<link rel="shortcut icon" href="images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#e71f99">
<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="images/favicon/browserconfig.xml">
<meta name="theme-color" content="#e71f99"></head>
  <body class="Mnk-thanks_page"> 
    <div class="Mnk-box-table-768 -fixed-768 -middle-768 Mnk-height-full-768">
      <div class="Mnk-thanks_bg Mnk-width-380-768 Mnk-width-auto-992 Mnk-align-right-768"> 
        <div class="Mnk-thanks_aside Mnk-inline-block-768 Mnk-align-center Mnk-align-left-768">
          <h1 class="Mnk-line-height-clear">demos el <strong class="Mnk-block">primer paso</strong></h1>
          <div class="Mnk-margin-bottom-20"><a class="Mnk-button -green Mnk-uppercase -none" href="tel:+516222222">Admisión: 622 2222 / Anexos: 5450, 5451</a></div>
          <div><a class="Mnk-button -green Mnk-uppercase -none" href="https://api.whatsapp.com/send?phone=51942632791">WhatsApp: 942 632 791</a></div>
        </div>
      </div>
      <div class="Mnk-padding-40-20 Mnk-padding-30-768 Mnk-align-center">
        <div class="Mnk-inline-block Mnk-max-width-445">
          <h2>¡Gracias!</h2>
          <p>
             Uno de nuestros asesores de carrera se pondrán en contacto contigo pronto.</p>
          <p> <strong class="Mnk-block Mnk-medium">¡Que tengas un gran día!</strong></p><a class="Mnk-button Mnk-margin-top-30" href="./">Regresar</a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>window.jQuery||document.write('<script src="./js/jquery.js"><\/script>')</script>
    <script src="./js/mnk-query.js"></script>
  </body>
</html>
